<h1>Fill in cents!</h1>
  <form action='/display'>
    <div class="form-group">
      <input id="number" name="number" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Go!</button>
  </form>
<%= @result %>
